@import url('https://fonts.googleapis.com/css2?family=Dancing+Script:wght@500;700&family=Poppins:wght@300;400;700&display=swap');

* {
  margin: 0;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
}

body {
  background-color: #e5e5e5;
}

#intro {
  width: 100%;
  height: 100vh;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
}

/* header */
#header {
  display: flex;
  justify-content: space-between;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  width: 80%;
  margin: 0 auto;
}

#headline a {
  text-transform: uppercase;
  font-size: 16px;
  text-decoration: none;
  color: #7f8cff;
  width: 80%;
}

#logo a {
  font-size: 18px;
  text-decoration: none;
  color: #6070ff;
}

#headline ul {
  display: flex;
  gap: 10px;
  list-style-type: none;
  padding: 0;
  width: 80%;
}

#navbar ul {
  display: flex;
  list-style-type: none;
  justify-content: space-around;
  gap: 20px;
}

#navbar ul li a {
  text-decoration: none;
  color: #344563;
  font-size: 15px;
  font-weight: 500;
}

#headline {
  background-image: url(images/Header\ bg.png);
  background-position: relative;
  background-repeat: no-repeat;
  background-size: cover;
  border-bottom-left-radius: 150px;
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 10px;
  background-color: #fff;
}

.content-padding {
  padding: 10px 12px;
  text-align: center;
}

#menu {
  display: none;
}

/* content */

#headline h1 {
  font-size: 48px;
  font-weight: 700;
  font-style: normal;
  max-width: 80%;
  width: 80%;
  line-height: 60px;
  letter-spacing: 0.37px;
}

#headline p {
  font-size: 20px;
  font-weight: 400;
  max-width: 80%;
  width: 80%;
}

@media all and (max-width: 768px) {
    #navbar ul {
    display: none;
  }

  #menu {
    display: block;
  }

  #headline h1 {
    font-size: 40px;
  }

  #headline p {
    font-size: 16px;
  }
}

/* Button implementation */
.btn {
  padding: 12px;
  color: #7f8cff;
  background: #fff;
  border: 1px solid #7f8cff;
  border-radius: 8px;
}

.btn:hover {
  background: #6070ff;
  box-shadow: 1px 8px 16px rgba(64, 83, 252, 0.24);
}

.btn:focus {
  background: #2230d2;
}

.btn:disabled {
  border: 1px solid #c1c7d0;
  border-radius: 8px;
  color: #5e6c84;
}
